{% extends 'base.html'%}
{% load static %}
{% block title%}{{yazi.baslik}}{% endblock%}
{% block content%} 
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{yazi.resim.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{yazi.baslik}}</h5>
          <p class="card-text">{{yazi.icerik|safe}}</p>
          <p class="card-text"><small class="text-muted">Önce paylaşıldı {{yazi.duzenlenme_tarihi|timesince}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <h5>Yorumlar</h5>
  {% for yorum  in yorumlar%}
  <div class="card " style="display:flex;flex-direction:row;">
    <div class="card-body">
    <div>
      <img src="{% static 'img/resim.jpg ' %}" width="50" height="50" class="rounded" alt="Yorum">
    </div>
    <div>
          <h5 class="card-title">{{yorum.yazan.username}}</h5>
          <p class="card-text">{{yorum.yorum}}</p>
    </div>
    </div>
  </div>
{% endfor%}

  {% endblock %}